* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
   color: aliceblue;
   background-color: rgb(7, 4, 18);;
}

/* HOME PAGE STYLES **************************************************** */

.chatbot{
  display:block;
  position: cover;
}
.chatbot img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px; 
  height: auto; 
}
  /* social-media */
  .social-media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .social-media button{
    position: relative;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffde14;;
    border-radius: 50%;
    font-size: 20px;
    color:#ffde14; ;
    text-decoration: none;
    margin: 30px 15px 30px 20px;
    cursor:pointer;
    transition: .5s ease;
  }
  .social-media button:hover{
    background:#ffde14;;
    color: #1f242d;
    box-shadow:  0 0 20px #ffde14;;
    border: 2px solid #ffde14;;
    animation: sparkAnimation 0.5s;
  }
  

  @keyframes sparkAnimation {
    0% { transform: scale(1) }
    50% { transform: scale(1.2)}
    100% { transform: scale(1) }
  }

  

/* TO ADD THE STAR BACKGROUND IN CHATBOT PAGE *******************************/
.chatbot-wrapper {
  position: relative;
  z-index: 0;
  background-color: transparent;
}
.chatbot-wrapper > * {
  position: relative;
  z-index: 1;
}

/* ROBO PAGE STYLE ******************************************/
@media (min-width: 1280px) {
  .flex-1 { flex: 1 }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .auto-height { height: auto }
}
@media (min-width: 768px) {
  .medium-height { height: 550px }
}
.fixed-height { height: 100vh }

/* START PAGE STYLE **************************************************/

.stars-canvas-wrapper {
  width: 100%;
  height: auto;
  position: absolute;
  inset: 0;
  z-index: -1;
}
.stars-canvas {
  width: 100%;
  height: 100%;
}


/* Mobile devices */
@media (max-width: 767px) {
  .chatbot img {
    top: 5px;
    left: 5px;
    width: 40px;
  }
  .social-media {
    bottom: 10px;
    left: 10px;
    transform: none;
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .social-media button {
    margin: 0 10px;
  }
  .social-media button:hover{
    box-shadow:none;;
    animation:none;
  }
}

/* Tablets and smaller desktop screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .chatbot img {
    top: 15px;
    left: 15px;
    width: 45px;
  }
}

@media (min-width: 1024px) {
  .chatbot img {
    top: 20px;
    left: 20px;
    width: 50px;
  }
}